html,
body {
	height: 100%;
	margin: 0;
  overflow-y: hidden;
}

a,
a:hover,
a:active,
a:visited{
  text-decoration: none;
  color: #000;
  border-bottom: 1px solid #a2a2a2;
}

.el-dialog{
  background-color: #e9eef3 !important;
}

.col-h12 {
	height: 100%;
	width: 100%;
}

.el-main {
	padding:  0 !important;
}
